@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="home-page">
    <!-- Benefits Section -->
    <section class="benefits-section">
        <div class="content">
            <h2 class="headline">Task Management<br>Assistant you<br>gonna love</h2>
            <p class="subtext">We offer you a new generation of task management system.<br>Plan, manage & track all your tasks in one flexible tool.</p>
            <button class="benefits-button">Get started for free</button>
            <p class="additional-text">Largest companies use our tool to work efficiently</p>
            <div class="logos">
                <img src="~/images/Benefitsfourlogo.svg" alt="Logo 1" />
               
            </div>
        </div>
        <div class="image">
            <img src="~/images/Benefitsimg.svg" alt="Benefits Image" />
        </div>
    </section>

    <!-- Slider Section -->
    <section class="slider-section">
        <div class="slider-container">
            <div class="slider-half left">
                <p>Switch Between</p>
            </div>
            <div class="slider-half right">
                <p>Light & Dark Mode</p>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section class="content-section">
        <div class="content-container">
            <div class="content-image">
                <img src="~/images/contentimg.svg" alt="Dashboard">
            </div>
            <div class="content-details">
                <h2 class="content-title">Our Content</h2>
                <div class="content-items">
                    <div class="content-item">
                        <img src="~/images/contenticon.svg" alt="Icon 1" class="content-icon">
                        <p>Powerful project management</p>
                    </div>
                    <div class="content-item">
                        <img src="~/images/contenticon.svg" alt="Icon 2" class="content-icon">
                        <p>Transparent work management</p>
                    </div>
                    <div class="content-item">
                        <img src="~/images/contenticon.svg" alt="Icon 3" class="content-icon">
                        <p>Manage work & focus on the most important tasks</p>
                    </div>
                    <div class="content-item">
                        <img src="~/images/contenticon.svg" alt="Icon 4" class="content-icon">
                        <p>Track your progress with interactive charts</p>
                    </div>
                    <div class="content-item">
                        <img src="~/images/contenticon.svg" alt="Icon 5" class="content-icon">
                        <p>Easiest way to track time spent on tasks</p>
                    </div>
                </div>
                <button class="content-button">
                    Learn More
                    <img src="~/images/arrowright.svg" alt="arrow" />
                </button>
            </div>
        </div>
    </section>

    <!-- Apps Section -->
    <section class="apps-section">
        <div class="apps-container">
            <div class="apps-image">
                <img src="~/images/appimg.svg" alt="2 phones">
            </div>
            <div class="apps-details">
                <h2 class="apps-title">Download Our App<br>for Any Devices:</h2>
                <div class="store-section">
                    <div class="store-details">
                        <p class="apps-subtitle">App Store</p>
                        <div class="apps-icon-text">
                            <img src="~/images/ylwstars.svg" alt="Yellow stars" class="ylwstars">
                        </div>
                        <p class="review-title">Editor's Choice</p>
                        <p class="review-text">Rating 4.7. 187K+ reviews</p>
                    </div>
                    <div class="store-img">
                        <img src="~/images/appstoreimg.svg" alt="App Store Image" class="appstoreimg">
                    </div>
                </div>
                <div class="store-section">
                    <div class="store-details">
                        <p class="apps-subtitle">Google Play</p>
                        <div class="apps-icon-text">
                            <img src="~/images/ylwstars.svg" alt="Yellow stars" class="ylwstars">
                        </div>
                        <p class="review-title">App of the Day</p>
                        <p class="review-text">Rating 4.8. 30K+ reviews</p>
                    </div>
                    <div class="store-img">
                        <img src="~/images/googleplayimg.svg" alt="Google Play Image" class="googleplayimg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tools Section -->
    <section class="tools-section">
        <div class="tools-header">
            <h2 class="tools-title">Integrate Top Work Tools</h2>
            <p class="tools-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus<br> facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="tools-container">
            <div class="tool-item">
                <img src="~/images/tools1.svg" alt="Tool1" class="tool-icon">
                <p class="tool-text">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools2.svg" alt="Tool2" class="tool-icon">
                <p class="tool-text">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools3.svg" alt="Tool3" class="tool-icon">
                <p class="tool-text">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools4.svg" alt="Tool4" class="tool-icon">
                <p class="tool-text">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools5.svg" alt="Tool5" class="tool-icon">
                <p class="tool-text">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools6.svg" alt="Tool6" class="tool-icon">
                <p class="tool-text">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools7.svg" alt="Tool7" class="tool-icon">
                <p class="tool-text">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="tool-item">
                <img src="~/images/tools8.svg" alt="Tool8" class="tool-icon">
                <p class="tool-text">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </section>

    <!-- Subscribe Section -->
    <section class="subscribe-section">
        <div class="subscribe-container">
            <div class="subscribe-header">
                <h2 class="subscribe-title">Don´t Want to Miss Anything?  </h2>
                <img src="~/images/swosh.svg" alt="Swosh class="subscribe-icon">
            </div>
            <p class="subscribe-description">Sign up for newsletters</p>
            <form class="subscribe-form" id="subscribe-form">
                <div class="subscribe-options">
                    <div class="subscribe-option">
                        <input type="checkbox" id="daily-newsletter" name="subscription" value="daily-newsletter">
                        <label for="daily-newsletter">Daily Newsletter</label>
                    </div>
                    <div class="subscribe-option">
                        <input type="checkbox" id="advertising-updates" name="subscription" value="advertising-updates">
                        <label for="advertising-updates">Advertising Updates</label>
                    </div>
                    <div class="subscribe-option">
                        <input type="checkbox" id="week-in-reviews" name="subscription" value="week-in-reviews">
                        <label for="week-in-reviews">Week in Reviews</label>
                    </div>
                    <div class="subscribe-option">
                        <input type="checkbox" id="event-updates" name="subscription" value="event-updates">
                        <label for="event-updates">Event Updates</label>
                    </div>
                    <div class="subscribe-option">
                        <input type="checkbox" id="startup-weekly" name="subscription" value="startup-weekly">
                        <label for="startup-weekly">Startup Weekly</label>
                    </div>
                    <div class="subscribe-option">
                        <input type="checkbox" id="podcasts" name="subscription" value="podcasts">
                        <label for="podcasts">Podcasts</label>
                    </div>
                </div>
                <div class="subscribe-input-group">
                    <div class="input-icon">
                        <img src="~/images/email.svg" alt="Email Icon">
                    </div>
                    <input type="email" id="email" class="subscribe-input" placeholder="Your Email" required>
                    <button type="submit" class="subscribe-button">Subscribe*</button>
                </div>
                <div class="subscribe-terms">
                    <input type="checkbox" id="terms-agree" name="terms-agree" required>
                    <label for="terms-agree">
                        <span class="asterisk">*</span>
                        <span class="terms-text">Yes, I agree to the </span>
                        <a href="/terms" class="terms-link">terms</a>
                        <span class="terms-text"> and </span>
                        <a href="/privacy" class="terms-link">privacy policy</a>.
                    </label>
                </div>

            </form>
            <p id="subscribe-message" class="subscribe-message"></p>
        </div>
    </section>

</div>

@section Scripts {
    <script src="~/js/subscribeform.js"></script>

}